body,h1, h2, h3, h4, h5, h6, p, blockquote, input, ul, ol, li,.grid-bxslider {
	direction: rtl;
}
.pagination a.prev.page-numbers i::before {
	content: "\f105";
}
.pagination a.next.page-numbers i::before {
	content: "\f104";
}
.post-next-prev .prev-post a i::before {
	content: "\f101";
}
.post-next-prev .next-post a i::before {
	content: "\f100";
}
#related-posts li i::before {
	content: "\f100";
}
.flexslider:hover .flex-direction-nav li .flex-prev i:before {
	content: "\f105";
}
.flexslider:hover .flex-direction-nav li .flex-next i:before {
	content: "\f104";
}
.bx-prev:before {
	content: "\f105";
}
.bx-next:before {
	content: "\f104";
}